.screen {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1000px;
  min-height: 1687px;
  position: relative;
}

.screen .view {
  position: absolute;
  top: 0;
  left: 0;
  width: 1001px;
  height: 2979px;
  background-image: url(./img/window-border.png);
  background-size: 100% 100%;
}

.screen .desctop-shadow {
  position: absolute;
  top: -8408px;
  left: -13206px;
  width: 999px;
  height: 2037px;
}

.screen .frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 339px;
}

.screen .div {
  position: absolute;
  top: 141px;
  left: 32px;
  width: 383px;
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 76px;
  letter-spacing: 1.14px;
  line-height: 70px;
}

.screen .text-wrapper {
  color: #0a625e;
  letter-spacing: 0.87px;
}

.screen .span {
  color: #fcbd14;
  letter-spacing: 0.87px;
}

.screen .text-wrapper-2 {
  color: #014e72;
  letter-spacing: 0.87px;
}

.screen .text-wrapper-3 {
  color: #ee765e;
  letter-spacing: 0.87px;
}

.screen .text-wrapper-4 {
  color: #4aae42;
  letter-spacing: 0.87px;
}

.screen .text-wrapper-5 {
  position: absolute;
  top: 51px;
  left: 641px;
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0a625e;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-6 {
  position: absolute;
  top: 51px;
  left: 210px;
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0a625e;
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-7 {
  position: absolute;
  top: 51px;
  left: 321px;
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0a625e;
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: normal;
  white-space: nowrap;
}

.screen .text-wrapper-8 {
  position: absolute;
  top: 51px;
  left: 435px;
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0a625e;
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: normal;
  white-space: nowrap;
}

.screen .search {
  position: absolute;
  top: 50px;
  left: 891px;
  width: 25px;
  height: 25px;
}

.screen .vector {
  position: absolute;
  width: 66.67%;
  height: 66.67%;
  top: 7.5%;
  left: 7.5%;
}

.screen .img {
  position: absolute;
  width: 18.13%;
  height: 18.13%;
  top: 64.38%;
  left: 64.38%;
}

.screen .text-wrapper-9 {
  position: absolute;
  top: 677px;
  left: 33px;
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0a625e;
  font-size: 40px;
  letter-spacing: 0.6px;
  line-height: normal;
  white-space: nowrap;
}

.screen .image {
  position: absolute;
  top: 532px;
  left: 888px;
  width: 112px;
  height: 137px;
  aspect-ratio: 1.22;
}

.screen .group {
  position: absolute;
  top: 459px;
  left: 33px;
  width: 915px;
  height: 138px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.screen .p {
  width: 911px;
  height: 48px;
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0a625e;
  font-size: 40px;
  letter-spacing: 0.6px;
  line-height: normal;
}

.screen .text-wrapper-10 {
  width: 720px;
  height: 80px;
  font-family: "Bellota Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.screen .group-2 {
  position: absolute;
  top: 1487px;
  left: 33px;
  width: 929px;
  height: 200px;
}

.screen .element {
  position: absolute;
  top: 114px;
  left: 0;
  width: 380px;
  font-family: "Bellota Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.screen .group-3 {
  position: absolute;
  top: 114px;
  left: 660px;
  width: 269px;
  height: 40px;
  display: flex;
}

.screen .text-wrapper-11 {
  width: 152px;
  height: 40px;
  font-family: "Bellota Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.screen .social-icons {
  margin-top: 7px;
  width: 28px;
  height: 28px;
  margin-left: 15px;
  aspect-ratio: 1;
}

.screen .image-2 {
  margin-top: 7px;
  width: 28px;
  height: 28px;
  margin-left: 8px;
  aspect-ratio: 1;
  object-fit: cover;
}

.screen .social-icons-2 {
  margin-top: 7px;
  width: 28px;
  height: 28px;
  margin-left: 8px;
  aspect-ratio: 1;
}

.screen .image-3 {
  position: absolute;
  top: 0;
  left: 291px;
  width: 321px;
  height: 200px;
  aspect-ratio: 1.6;
}

.screen .group-4 {
  position: absolute;
  width: 398px;
  height: 554px;
  top: 765px;
  left: 28px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.screen .group-5 {
  height: 431px;
  position: relative;
}

.screen .image-4 {
  position: absolute;
  top: 242px;
  left: 0;
  width: 79px;
  height: 128px;
  aspect-ratio: 0.62;
}

.screen .img-2 {
  position: absolute;
  top: 0;
  left: 68px;
  width: 330px;
  height: 431px;
  aspect-ratio: 0.77;
}

.screen .group-6 {
  margin-left: 78px;
  width: 311px;
  height: 103px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.screen .group-7 {
  width: 315px;
  height: 55px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.screen .text-wrapper-12 {
  width: 311px;
  height: 19px;
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0a625e;
  font-size: 16px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.screen .text-wrapper-13 {
  width: 311px;
  height: 30px;
  font-family: "Bellota Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0.18px;
  line-height: normal;
}

.screen .div-wrapper {
  display: inline-flex;
  width: 85px;
  height: 28px;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px;
  background-color: #0a625e;
  border-radius: 10px;
}

.screen .text-wrapper-14 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.15px;
  line-height: normal;
  white-space: nowrap;
}

.screen .group-8 {
  position: absolute;
  width: 330px;
  height: 659px;
  top: 660px;
  left: 575px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.screen .group-9 {
  width: 330px;
  height: 536px;
}

.screen .group-10 {
  margin-left: 9px;
  width: 317px;
  height: 103px;
  display: flex;
  flex-direction: column;
}

.screen .text-wrapper-15 {
  width: 313px;
  height: 19px;
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0a625e;
  font-size: 16px;
  letter-spacing: 0.24px;
  line-height: normal;
}

.screen .text-wrapper-16 {
  width: 313px;
  height: 30px;
  margin-top: 6px;
  font-family: "Bellota Text-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0.18px;
  line-height: normal;
}

.screen .frame-2 {
  display: inline-flex;
  width: 85px;
  height: 28px;
  position: relative;
  margin-top: 20px;
  align-items: center;
  gap: 10px;
  padding: 8px 16px;
  background-color: #0a625e;
  border-radius: 10px;
}
/* Original CSS code should be injected here */

.screen header {
  position: relative;
  z-index: 10;
}

.screen nav {
  position: absolute;
  top: 51px;
  left: 210px;
  display: flex;
  gap: 0;
}

.screen nav a {
  font-family: "Balsamiq Sans-Regular", Helvetica;
  font-weight: 400;
  color: #0a625e;
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: normal;
  white-space: nowrap;
  text-decoration: none;
  transition: color 0.3s ease;
}

.screen nav a:hover,
.screen nav a:focus {
  color: #014e72;
  outline: none;
}

.screen nav a:focus-visible {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.screen .text-wrapper-6 {
  margin-right: 111px;
}

.screen .text-wrapper-7 {
  margin-right: 114px;
}

.screen .text-wrapper-8 {
  margin-right: 206px;
}

.screen .search {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: opacity 0.3s ease;
}

.screen .search:hover,
.screen .search:focus {
  opacity: 0.7;
}

.screen .search:focus-visible {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.screen main {
  position: relative;
}

.screen .div-wrapper,
.screen .frame-2 {
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.screen .div-wrapper:hover,
.screen .frame-2:hover {
  background-color: #014e72;
  transform: scale(1.05);
}

.screen .div-wrapper:focus-visible,
.screen .frame-2:focus-visible {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.screen .group-3 a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.screen .group-3 a:hover,
.screen .group-3 a:focus {
  transform: scale(1.1);
}

.screen .group-3 a:focus-visible {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
  border-radius: 50%;
}

.screen address {
  font-style: normal;
}
